@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    padding: 0 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 24px;
    font-style: italic;
}

header .menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header .menu .menu-btn {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
}

.ri-menu-3-fill {
    display: none;
}

@media (max-width: 768px) {

    html,
    body {
        padding: 0 12px;
    }

    header h2 {
        font-size: 24px;
    }

    header .menu {
        display: none
    }

    .ri-menu-3-fill {
        display: inline-block;
        color: #fff;
        font-size: 32px;
    }
}

/* Hero Section  */

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-section .left,
.hero-section .right {
    width: 50%;
}

.hero-section .right img {
    width: 100%;
    height: auto;

}

.hero-section .left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
}

.hero-section .left p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #b3b3b3;
}

.hero-section .left .btn-group button {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.hero-section .left .btn-group .btn-secondary {
    background-color: transparent;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .hero-section .left,
    .hero-section .right {
        width: 100%;
    }
}


/* Portfolio Section Start*/
.portfolio-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.portfolio-section .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    text-align: center;
}

.portfolio-section .top .subheading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 1;
}


.portfolio-section .top .portfolio-section-heading {
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
    color: #FAFAFA;
}

.portfolio-section .top .portfolio-section-info {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
    color: #FAFAFA;
}


.portfolio-section .bottom {
    width: 100%;
    min-height: 60vh;
}

.portfolio-section .bottom .portfolio-cards-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;

}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card {
    width: 49%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content {
    width: 100%;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content h5 {
    font-size: 24px;
    color: #FAFAFA;
    margin-bottom: 10px;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content p {
    font-size: 18px;
    color: #FAFAFA;
    margin-bottom: 10px;
}


.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .portfolio-section .bottom .portfolio-cards-grid {
        flex-direction: column;
    }

    .portfolio-section .bottom .portfolio-cards-grid .portfolio-card {
        width: 100%;
    }

}

/* Portfolio Section End*/


/* About Us Section */

.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about-section .left,
.about-section .right {
    width: 50%;
}

.about-section .right img {
    width: 100%;
    max-width: 584px;
    height: 584px;
    object-fit: cover;

}

.about-section .left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-section .left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.about-section .left p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #b3b3b3;
}

.about-section .left .btn-group button {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.about-section .left .btn-group .btn-secondary {
    background-color: transparent;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .about-section .left,
    .about-section .right {
        width: 100%;
    }
}

/* About Us Section End */


.testimonial-section {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;

}

.testimonial-section .top h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.testimonial-section .top h2 {
    font-size: 52px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
    color: #FAFAFA;

}

.testimonial-section .bottom {
    margin-top: 30px;
}

.testimonial-section .bottom .testimonial-cards {
    display: flex;
    gap: 40px;
}


.testimonial-section .bottom .testimonial-cards .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.testimonial-section .bottom .testimonial-cards .card p {
    font-size: 22px;
    line-height: 1.8;
    font-weight: 300;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail .user-info h5 {
    font-size: 20px;
    font-weight: 500;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail .user-info p {
    font-size: 15px;
    font-weight: 400;
}

.testimonial-section .bottom .testimonial-cards .card:first-child {
    border-right: 1px solid #8c8c8c51;

}

@media (max-width: 768px) {
    .testimonial-section {
        min-height: 100vh;
    }
    .testimonial-section .bottom .testimonial-cards {
           flex-direction: column;
            gap: 40px;
        }
}


/* Contact Section Css */
.contact-section {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

}

.contact-section .top,
.contact-section .bottom {
    width: 50%;
}


.contact-section .bottom { 

    background-color: #262626;
    height: 100%;
    border-radius: 12px;

}
.contact-section .top h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.contact-section .top h2 {
    font-size: 52px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
    color: #FAFAFA;
    margin-bottom: 30px;
}

.contact-section .bottom .cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 50px;
    padding-top: 30px;
    padding-left: 20px;
}


.contact-section .bottom .cards .card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.contact-section .bottom .cards .card i {
    font-size: 44px;
}

.contact-section .bottom .cards .card .contact-deatils {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-section .bottom .cards .card .contact-deatils h3{
    font-size: 24px;
    font-family: 500;
}

.contact-section .bottom .cards .card .contact-deatils p {
    font-size: 15px;
    font-family: 400;
}

@media (max-width: 768px) {
    .contact-section {
        min-height: 100vh;
        flex-direction: column;
        padding-top: 150px;
    }
    
        .contact-section .top,
        .contact-section .bottom {
            width: 100%;
        }
    
}


 /* Contact Section Css End */


 /* FAQ Section css */

 .faq-section {
     width: 100%;
     min-height: 100vh;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     gap: 30px;
     flex-direction: column;
     padding-top: 120px;
     padding-bottom: 120px;

 }


 .faq-section .top h2 {
     font-size: 52px;
     text-transform: capitalize;
     letter-spacing: 3px;
     font-weight: 500;
     line-height: 1;
     color: #FAFAFA;
     margin-bottom: 20px;
 }

  .faq-section .top p {
    max-width: 576px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -2%;
    margin-bottom: 30px;
  }

 .faq-section .bottom {
     margin-top: 30px;
     display: flex;
     gap: 30px;
 }

 .faq-section .bottom .faq-cards {
     display: flex;
     flex-direction: column;
     gap: 50px;
     width: 50%;
 }


 .faq-section .bottom .faq-cards .card {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     flex-direction: column;
     gap: 10px;
 }

  .faq-section .bottom .faq-cards .card h3 {
      font-size: 24px;
      line-height: 1;
      font-weight: 300;
  }
 .faq-section .bottom .faq-cards .card p {
     font-size: 16px;
     line-height: 1.8;
     font-weight: 300;
 }

 .faq-section .bottom .faq-cards .card .user-detail {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .faq-section .bottom .faq-cards .card .user-detail .user-info h5 {
     font-size: 20px;
     font-weight: 500;
 }

 .faq-section .bottom .faq-cards .card .user-detail .user-info p {
     font-size: 15px;
     font-weight: 400;
 }

 @media (max-width: 768px) {
     .faq-section {
         min-height: 100vh;
     }
         .faq-section .bottom {
            flex-direction: column;
         }

     .faq-section .bottom .faq-cards {
         flex-direction: column;
         gap: 40px;
         width: 100%;
     }
 }


 /* Footer Section CSS */

 .footer-section {
    width: 100%;
    height: 250px;
 }

 .footer-section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #262626;
    padding-bottom: 40px;
 }

 .footer-section .top .footer-logo {
    max-width: 200px;
 }


 .footer-section .footer-menu {
    display: flex;
    align-items: center;
    gap: 20px;
 }


 .footer-section .footer-menu a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
 }


  .footer-section .social-icon  {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .footer-section .social-icon i{
      font-size: 24px;
  }


  .footer-section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }

  .footer-section .bottom .policy-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .footer-section .bottom a {
    color: #FAFAFA;
    text-decoration: none;
  }


  @media (max-width: 768px) {
    .footer-section .top {
        flex-direction: column;
        gap: 30px;
    }
    .footer-section .top .footer-menu a {
        font-size: 14px;
    }


        .footer-section .bottom {
            flex-direction: column;
            gap: 30px;
        }
    
        .footer-section .bottom .policy-menu a {
            font-size: 14px;
        }
  }
 /* Footer Section CSS End  */