@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    padding: 0 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

header {
 width: 100%;
 height: 100px;
 display: flex;
 justify-content: space-between;    
 align-items: center;
}

header h2 {
    font-size: 24px;
    font-style: italic;
}

header .menu {
    display: flex;
    gap: 30px;  
    align-items: center;
}

header .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header .menu .menu-btn {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
}

.ri-menu-3-fill {
    display: none;
}
@media (max-width: 768px) {
    html, body {
        padding: 0 12px;
    }
    header h2 {
        font-size: 24px;
    }
    header .menu {
        display: none
    }
        .ri-menu-3-fill {
            display: inline-block;
            color: #fff;
            font-size: 32px;
        }
}

/* Hero Section  */

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-section .left,.hero-section .right {
    width: 50%;
}

.hero-section .right img {
    width: 100%;
    height: auto;

}

.hero-section .left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
}
.hero-section .left p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #b3b3b3;
}

.hero-section .left .btn-group button {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.hero-section .left .btn-group  .btn-secondary {
    background-color: transparent;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .hero-section .left, .hero-section .right {
        width: 100%;
    }
}