@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    padding: 0 40px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

header {
 width: 100%;
 height: 100px;
 display: flex;
 justify-content: space-between;    
 align-items: center;
}

header h2 {
    font-size: 24px;
    font-style: italic;
}

header .menu {
    display: flex;
    gap: 30px;  
    align-items: center;
}

header .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header .menu .menu-btn {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
}

.ri-menu-3-fill {
    display: none;
}
@media (max-width: 768px) {
    html, body {
        padding: 0 12px;
    }
    header h2 {
        font-size: 24px;
    }
    header .menu {
        display: none
    }
        .ri-menu-3-fill {
            display: inline-block;
            color: #fff;
            font-size: 32px;
        }
}

/* Hero Section  */

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-section .left,.hero-section .right {
    width: 50%;
}

.hero-section .right img {
    width: 100%;
    height: auto;

}

.hero-section .left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-section .left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
}
.hero-section .left p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #b3b3b3;
}

.hero-section .left .btn-group button {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.hero-section .left .btn-group  .btn-secondary {
    background-color: transparent;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .hero-section .left, .hero-section .right {
        width: 100%;
    }
}


/* Portfolio Section Start*/
.portfolio-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.portfolio-section .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    text-align: center;
}

.portfolio-section .top .subheading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 1;
}


.portfolio-section .top .portfolio-section-heading {
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
    color: #FAFAFA;
}

.portfolio-section .top .portfolio-section-info {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
    color: #FAFAFA;
}


.portfolio-section .bottom {
    width: 100%;
    min-height: 60vh;
}
.portfolio-section .bottom .portfolio-cards-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;

}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card{
    width: 49%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content {
    width: 100%;
}
.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content h5 {
    font-size: 24px;
    color: #FAFAFA;
    margin-bottom: 10px;
}

.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-content p {
    font-size: 18px;
    color: #FAFAFA;
    margin-bottom: 10px;
}


.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease;
    overflow: hidden;
    border-radius: 10px;
}
.portfolio-section .bottom .portfolio-cards-grid .portfolio-card .portfolio-card-img img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .portfolio-section .bottom .portfolio-cards-grid {
        flex-direction: column;
    }
    .portfolio-section .bottom .portfolio-cards-grid .portfolio-card {
        width: 100%;
    }
    
}
/* Portfolio Section End*/


/* About Us Section */

.about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about-section .left,
.about-section .right {
    width: 50%;
}

.about-section .right img {
    width: 100%;
    max-width: 584px;
    height: 584px;
    object-fit: cover;

}

.about-section .left h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-section .left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.about-section .left p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #b3b3b3;
}

.about-section .left .btn-group button {
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.about-section .left .btn-group .btn-secondary {
    background-color: transparent;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 30px;
        padding: 40px 0;
    }

    .about-section .left,
    .about-section .right {
        width: 100%;
    }
}

/* About Us Section End */

.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;

}

.testimonial-section .top h6{
font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.testimonial-section .top h2 {
    font-size: 32px;
        text-transform: capitalize;
        letter-spacing: 3px;
        font-weight: 500;
        line-height: 1;
        color: #FAFAFA;

    }

.testimonial-section .bottom {
    margin-top: 30px;
}

.testimonial-section .bottom .testimonial-cards {
    display: flex;
    gap: 40px;  
}


.testimonial-section .bottom .testimonial-cards .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.testimonial-section .bottom .testimonial-cards .card p{
    font-size: 22px;
    line-height: 1.8;
    font-weight: 300;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail .user-info h5 {
    font-size: 20px;
    font-weight: 500;
}

.testimonial-section .bottom .testimonial-cards .card .user-detail .user-info p {
    font-size: 15px;
    font-weight: 400;
}

.testimonial-section .bottom .testimonial-cards .card:first-child {
    border-right: 1px solid #8c8c8c51;

}